.green {
    color: rgb(105, 175, 0);
}

.table-bordered thead td,
.table-bordered thead th {
    border-bottom-width: 2px;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #dee2e6;
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.red {
    color: #a80303;
}

.white {
    color: rgb(63, 63, 63);
}

.table-responsive>.table-bordered {
    border: 0;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

table {
    border-collapse: collapse;
}